@import url("https://fonts.googleapis.com/css?family=Big+Shoulders+Text&display=swap");
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
section,
samp,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
  margin: 0;
  border: 0;
  padding: 0;
  vertical-align: baseline;
  font: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before,
q::after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  opacity: 1 !important;
  font-family: 'Big Shoulders Text', cursive;
  font-size: 2em;
}

body {
  background-image: url("https://i.pinimg.com/originals/bd/04/db/bd04dbd0b858c3042fc1d43a08e8d87c.png");
}

.darkheader {
  color: gray;
  font-size: 3em;
  font-weight: bold;
  text-decoration: none !important;
}

.slideimgs {
  padding: 1%;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.giphy-embed {
  align: center;
  padding: 1%;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.bob {
  max-width: 80%;
  max-height: 25em;
  width: 100%;
  overflow: hidden;
  height: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Startext {
  color: white;
  background-color: black;
  opacity: .8;
  margin: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 10%;
  padding-right: 10%;
  text-align: left;
  line-height: 1.9;
}
